@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
}

.everything {
  background-color: rgba(17, 17, 17, 255);
  height: 100%;
  height: 500vh;
  width: 100%;
}

.main-container {
  color: #f0f0f0;
  max-width: 600px;
  margin: 0 auto;
}

.degen-ape {
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
}

.degen-ape:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); /* Increased glow on hover */
}

.name-heading {
  /* font-family: "Poppins"; */
  font-style: normal;
  letter-spacing: 0.1rem;
  margin-top: 40px;
  font-size: 33px;
  color: #f0f0f0;
  font-weight: 700;
}

.intro {
  /* font-family: Poppins; */
  font-weight: 500;
  font-size: 15px;
  margin-top: 15px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  max-width: 470px;
}

.intro span {
  color: #969696;
}

.location {
  border: 1px solid #969696;
  border-radius: 6px;
  margin-top: 25px;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 470px;
}

.location-text {
  font-weight: 600;
  font-size: 15px;
  margin-left: 15px;
  color: #969696;
}

.location-text span {
  color: #f0f0f0;
}

.divider {
  border: 1px solid #969696;
  border-radius: 1px;
  margin-top: 50px;
  max-width: 600px;
}

.vertical-navbar {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 13.125px;
  margin-left: 50px;
  line-height: 1.5rem;
  padding: 10px;
  gap: 0.75rem;
}

.intro-location-container {
  display: flex;
}

.subheading {
  font-size: 21.6px;
  color: #f0f0f0;
  margin-top: 50px;
  line-height: 1.5rem;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.05rem;
}

.work-intro {
  font-weight: 500;
  font-size: 15px;
  margin-top: 15px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  max-width: 600px;
  color: #969696;
}

.work-intro span {
  color: #f0f0f0;
}

.job-container {
  display: flex;
  justify-content: space-between; /* Distribute child elements with maximum space in-between */
  align-items: center; /* Vertically align the child elements in the center */
  padding: 10px; /* Just for a little spacing, optional */
  margin-top: 10px;
}

.job-position {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: flex-start; /* Align child elements to the left */
}

.job-position p,
.job-position span {
  display: block; /* Make both p and span display as block elements */
  margin: 0; /* Remove default margin */
}

.job-position p {
  font-weight: 600; /* Make the company name bold */
  font-size: 17px;
}

.job-position span {
  font-size: 15px;
  color: #969696;
}

.job-date {
  font-size: 13px;
  color: #969696;
  font-weight: 600;
  align-items: center;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 115%;
  margin-left: 3px;
  /* padding: 10px; */
}

.skill-column {
  flex: 1; /* Each column takes up an equal amount of space */
  padding: 0 0px; /* Some padding on left and right for breathing space */
}

.skill-heading {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 10px;
}

.skill-item {
  margin: 0 0 7.5px;
  line-height: 1.5rem;
  font-size: 17px;
  color: #969696;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
  gap: 25px; /* Adjust this value if you want more or less space between items */
  width: 100%;
  margin-top: 50px;
}

.contact-item {
  border: 1px solid #969696;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
}

.contact-item:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.25); /* Increased glow on hover */
}

.contact-heading {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.contact-text {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
